{% extends '::base.html.twig' %}

{% block title %}
Create New Batch
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/brewbloggercore/js/app.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('bundles/brewbloggercore/css/app.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<h1>Create Batch</h1>
<div class="alert alert-error">{{ form_errors(form) }}</div>
<form method="post" {{ form_enctype(form) }}>
{% include 'BrewBloggerCoreBundle:Form:batch.html.twig' %}
<button class="btn btn-primary">Create</button>
</form>
{% endblock %}