<div class="span12 collection-item">
    <div class="span4">
        {{ form_row(adjunct.name) }}
    </div>
    <div class="span2">
        {{ form_row(adjunct.weight) }}
    </div>
    <div class="span1">
        <button class="btn btn-danger collection-remove"><i class="icon-remove icon-white"></i></button>
    </div>
</div>